google-adk==1.21.0
litellm==1.80.11
google-genai==1.56.0

pandas==2.3.3
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11
duckdb==1.4.2

fastapi==0.123.10
uvicorn==0.38.0

python-dotenv==1.2.1
ollama==0.6.0
